Repository supabase-community/supabase-kt, pull requests merged in 2023-06, with the labels that each got.

#179 Add Compose Multiplatform deeplink demo (Desktop + Android)
  README.md
  demos/android-login/README.md
  demos/chat-demo-mpp/README.md
  demos/multi-factor-authentication/README.md
  demos/multi-factor-authentication/common/src/commonMain/kotlin/io/github/jan/supabase/common/ui/screen/MfaScreen.kt
  demos/multiplatform-deeplinks/.gitignore
  demos/multiplatform-deeplinks/README.md
  demos/multiplatform-deeplinks/android/build.gradle.kts
  demos/multiplatform-deeplinks/android/src/main/AndroidManifest.xml
  demos/multiplatform-deeplinks/android/src/main/java/io/github/jan/supabase/android/MainActivity.kt
  demos/multiplatform-deeplinks/android/src/main/java/io/github/jan/supabase/android/MainApplication.kt
  demos/multiplatform-deeplinks/build.gradle.kts
  demos/multiplatform-deeplinks/buildSrc/build.gradle.kts
  demos/multiplatform-deeplinks/buildSrc/src/main/kotlin/Versions.kt
  demos/multiplatform-deeplinks/common/build.gradle.kts
  demos/multiplatform-deeplinks/common/src/androidMain/AndroidManifest.xml
  demos/multiplatform-deeplinks/common/src/androidMain/kotlin/io/github/jan/supabase/common/MPViewModel.kt
  demos/multiplatform-deeplinks/common/src/androidMain/kotlin/io/github/jan/supabase/common/di/platformGoTrueConfig.kt
  demos/multiplatform-deeplinks/common/src/androidMain/kotlin/io/github/jan/supabase/common/di/viewModel.kt
  demos/multiplatform-deeplinks/common/src/androidMain/kotlin/io/github/jan/supabase/common/ui/components/AlertDialog.kt
  demos/multiplatform-deeplinks/common/src/commonMain/kotlin/io/github/jan/supabase/common/App.kt
  demos/multiplatform-deeplinks/common/src/commonMain/kotlin/io/github/jan/supabase/common/AppViewModel.kt
  demos/multiplatform-deeplinks/common/src/commonMain/kotlin/io/github/jan/supabase/common/di/koin.kt
  demos/multiplatform-deeplinks/common/src/commonMain/kotlin/io/github/jan/supabase/common/di/netModule.kt
  demos/multiplatform-deeplinks/common/src/commonMain/kotlin/io/github/jan/supabase/common/di/supabaseModule.kt
  demos/multiplatform-deeplinks/common/src/commonMain/kotlin/io/github/jan/supabase/common/di/viewModelModule.kt
  demos/multiplatform-deeplinks/common/src/commonMain/kotlin/io/github/jan/supabase/common/ui/components/AlertDialog.kt
  demos/multiplatform-deeplinks/common/src/commonMain/kotlin/io/github/jan/supabase/common/ui/components/GoogleButton.kt
  demos/multiplatform-deeplinks/common/src/commonMain/kotlin/io/github/jan/supabase/common/ui/components/PasswordField.kt
  demos/multiplatform-deeplinks/common/src/commonMain/kotlin/io/github/jan/supabase/common/ui/icons/Google.kt
  demos/multiplatform-deeplinks/common/src/commonMain/kotlin/io/github/jan/supabase/common/ui/screen/AppScreen.kt
  demos/multiplatform-deeplinks/common/src/commonMain/kotlin/io/github/jan/supabase/common/ui/screen/LoginScreen.kt
  demos/multiplatform-deeplinks/common/src/desktopMain/kotlin/io/github/jan/supabase/common/MPViewModel.kt
  demos/multiplatform-deeplinks/common/src/desktopMain/kotlin/io/github/jan/supabase/common/di/platformGoTrueConfig.kt
  demos/multiplatform-deeplinks/common/src/desktopMain/kotlin/io/github/jan/supabase/common/di/viewModel.kt
  demos/multiplatform-deeplinks/common/src/desktopMain/kotlin/io/github/jan/supabase/common/ui/components/AlertDialog.kt
  demos/multiplatform-deeplinks/desktop/build.gradle.kts
  demos/multiplatform-deeplinks/desktop/conveyor.conf
  demos/multiplatform-deeplinks/desktop/icons/icon.svg
  demos/multiplatform-deeplinks/desktop/src/main/kotlin/Main.kt
  demos/multiplatform-deeplinks/gradle.properties
  demos/multiplatform-deeplinks/gradle/libs.versions.toml
  demos/multiplatform-deeplinks/gradle/wrapper/gradle-wrapper.jar
  demos/multiplatform-deeplinks/gradle/wrapper/gradle-wrapper.properties
  demos/multiplatform-deeplinks/gradlew
  demos/multiplatform-deeplinks/gradlew.bat
  demos/multiplatform-deeplinks/kotlin-js-store/yarn.lock
  demos/multiplatform-deeplinks/settings.gradle.kts
Labels: enhancement

#181 [enhancement][postgrest]: add match/imatch filters to FilterBuilder
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/query/PostgrestFilterBuilder.kt
  Postgrest/src/commonTest/kotlin/PostgrestFilterBuilderTest.kt
Labels: enhancement, postgrest

#192 Use Kermit for logging
  GoTrue/src/androidMain/kotlin/io/github/jan/supabase/gotrue/setupPlatform.kt
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/GoTrue.kt
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/GoTrueImpl.kt
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/SessionManager.kt
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/Utils.kt
  GoTrue/src/iosMain/kotlin/io/github/jan/supabase/gotrue/IOS.kt
  GoTrue/src/iosMain/kotlin/io/github/jan/supabase/gotrue/providers/OAuthProvider.kt
  GoTrue/src/iosMain/kotlin/io/github/jan/supabase/gotrue/providers/builtin/loginWithSSO.kt
  GoTrue/src/iosMain/kotlin/io/github/jan/supabase/gotrue/setupPlatform.kt
  GoTrue/src/jvmMain/kotlin/io/github/jan/supabase/gotrue/providers/HttpCallbackServer.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/Realtime.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/RealtimeChannel.kt
  Storage/src/commonMain/kotlin/io/github/jan/supabase/storage/Storage.kt
  Storage/src/commonMain/kotlin/io/github/jan/supabase/storage/resumable/ResumableClient.kt
  Storage/src/commonMain/kotlin/io/github/jan/supabase/storage/resumable/ResumableUpload.kt
  build.gradle.kts
  demos/android-login/android/src/main/java/io/github/jan/supabase/android/MainActivity.kt
  demos/android-login/common/src/commonMain/kotlin/io/github/jan/supabase/common/AppViewModel.kt
  demos/chat-demo-mpp/android/src/main/java/io/github/jan/supabase/android/MainActivity.kt
  demos/chat-demo-mpp/common/src/commonMain/kotlin/io/github/jan/supabase/common/ChatViewModel.kt
  demos/file-upload/android/src/main/java/io/github/jan/supabase/android/MainActivity.kt
  demos/file-upload/common/src/commonMain/kotlin/io/github/jan/supabase/common/UploadViewModel.kt
  demos/multi-factor-authentication/android/src/main/java/io/github/jan/supabase/android/MainActivity.kt
  demos/multi-factor-authentication/common/src/commonMain/kotlin/io/github/jan/supabase/common/AppViewModel.kt
  demos/multiplatform-deeplinks/android/src/main/java/io/github/jan/supabase/android/MainActivity.kt
  demos/multiplatform-deeplinks/common/src/commonMain/kotlin/io/github/jan/supabase/common/AppViewModel.kt
  gradle/libs.versions.toml
  src/commonMain/kotlin/io/github/jan/supabase/SupabaseClient.kt
  src/commonMain/kotlin/io/github/jan/supabase/SupabaseClientBuilder.kt
  src/commonMain/kotlin/io/github/jan/supabase/network/KtorSupabaseHttpClient.kt
Labels: enhancement, core

#193 Add Windows (MingwX64) target
  .github/workflows/test.yml
  .gitignore
  Functions/build.gradle.kts
  GoTrue/build.gradle.kts
  GoTrue/src/mingwX64Main/kotlin/io/github/jan/supabase/gotrue/GoTrueConfig.kt
  GoTrue/src/mingwX64Main/kotlin/io/github/jan/supabase/gotrue/generateRedirectUrl.kt
  GoTrue/src/mingwX64Main/kotlin/io/github/jan/supabase/gotrue/providers/ExternalAuthConfig.kt
  GoTrue/src/mingwX64Main/kotlin/io/github/jan/supabase/gotrue/providers/OAuthProvider.kt
  GoTrue/src/mingwX64Main/kotlin/io/github/jan/supabase/gotrue/providers/builtin/loginWithSSO.kt
  GoTrue/src/mingwX64Main/kotlin/io/github/jan/supabase/gotrue/setupPlatform.kt
  GoTrue/src/mingwX64Test/kotlin/platformSettings.kt
  Postgrest/build.gradle.kts
  Postgrest/src/mingwX64Main/kotlin/io/github/jan/supabase/postgrest/getSerialName.kt
  Realtime/build.gradle.kts
  Storage/build.gradle.kts
  build.gradle.kts
  detekt.yml
  settings.gradle.kts
  src/commonMain/kotlin/io/github/jan/supabase/PlatformTarget.kt
  src/mingwX64Main/kotlin/io/github/jan/supabase/CurrentPlatformTarget.kt
  src/mingwX64Test/kotlin/PlatformTargetTest.kt
Labels: core

#195 Add MacOS targets
  .github/workflows/test.yml
  Functions/build.gradle.kts
  GoTrue/build.gradle.kts
  GoTrue/src/appleMain/kotlin/io/github/jan/supabase/gotrue/GoTrueConfig.kt
  GoTrue/src/appleMain/kotlin/io/github/jan/supabase/gotrue/IOS.kt
  GoTrue/src/appleMain/kotlin/io/github/jan/supabase/gotrue/RedirectUrl.kt
  GoTrue/src/appleMain/kotlin/io/github/jan/supabase/gotrue/providers/ExternalAuthConfig.kt
  GoTrue/src/appleMain/kotlin/io/github/jan/supabase/gotrue/providers/OAuthProvider.kt
  GoTrue/src/appleMain/kotlin/io/github/jan/supabase/gotrue/providers/builtin/loginWithSSO.kt
  GoTrue/src/appleMain/kotlin/io/github/jan/supabase/gotrue/setupPlatform.kt
  GoTrue/src/appleTest/kotlin/platformSettings.kt
  GoTrue/src/iosMain/kotlin/io/github/jan/supabase/gotrue/providers/openUrl.kt
  GoTrue/src/macosMain/kotlin/io/github/jan/supabase/gotrue/providers/openUrl.kt
  Postgrest/build.gradle.kts
  Postgrest/src/appleMain/kotlin/io/github/jan/supabase/postgrest/getColumnName.kt
  Realtime/build.gradle.kts
  Storage/build.gradle.kts
  build.gradle.kts
  detekt.yml
  plugins/ApolloGraphQL/build.gradle.kts
  src/commonMain/kotlin/io/github/jan/supabase/PlatformTarget.kt
  src/macosMain/kotlin/io/github/jan/supabase/PlatformTarget.kt
  src/macosTest/kotlin/PlatformTargetTest.kt
Labels: enhancement, core

#199 Add Linux targets
  .github/workflows/test.yml
  Functions/build.gradle.kts
  GoTrue/build.gradle.kts
  GoTrue/src/appleMain/kotlin/io/github/jan/supabase/gotrue/Apple.kt
  GoTrue/src/appleMain/kotlin/io/github/jan/supabase/gotrue/providers/OAuthProvider.kt
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/CodeVerifierCache.kt
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/GoTrueImpl.kt
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/SessionManager.kt
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/mfa/MfaApi.kt
  GoTrue/src/commonTest/kotlin/GoTrueTest.kt
  GoTrue/src/linuxMain/kotlin/io/github/jan/supabase/gotrue/GoTrueConfig.kt
  GoTrue/src/linuxMain/kotlin/io/github/jan/supabase/gotrue/SettingsUtil.kt
  GoTrue/src/linuxMain/kotlin/io/github/jan/supabase/gotrue/generateRedirectUrl.kt
  GoTrue/src/linuxMain/kotlin/io/github/jan/supabase/gotrue/providers/ExternalAuthConfig.kt
  GoTrue/src/linuxMain/kotlin/io/github/jan/supabase/gotrue/providers/OAuthProvider.kt
  GoTrue/src/linuxMain/kotlin/io/github/jan/supabase/gotrue/providers/builtin/loginWithSSO.kt
  GoTrue/src/linuxMain/kotlin/io/github/jan/supabase/gotrue/setupPlatform.kt
  GoTrue/src/linuxTest/kotlin/platformSettings.kt
  GoTrue/src/mingwX64Main/kotlin/io/github/jan/supabase/gotrue/setupPlatform.kt
  GoTrue/src/nonLinuxMain/kotlin/io/github/jan/supabase/gotrue/SettingsCodeVerifierCache.kt
  GoTrue/src/nonLinuxMain/kotlin/io/github/jan/supabase/gotrue/SettingsSessionManager.kt
  GoTrue/src/nonLinuxMain/kotlin/io/github/jan/supabase/gotrue/SettingsUtil.kt
  Postgrest/build.gradle.kts
  Postgrest/src/linuxX64Main/kotlin/io/github/jan/supabase/postgrest/getSerialName.kt
  Realtime/build.gradle.kts
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/CallbackManager.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/Realtime.kt
  Storage/build.gradle.kts
  Storage/src/commonMain/kotlin/io/github/jan/supabase/storage/Storage.kt
  Storage/src/commonMain/kotlin/io/github/jan/supabase/storage/resumable/MemoryResumableCache.kt
  Storage/src/commonMain/kotlin/io/github/jan/supabase/storage/resumable/ResumableCache.kt
  Storage/src/linuxMain/kotlin/io/github/jan/supabase/storage/resumable/ResumableCacheUtil.kt
  Storage/src/nonLinuxMain/kotlin/io/github/jan/supabase/storage/resumable/SettingsResumableCache.kt
  build.gradle.kts
  detekt.yml
  gradle/libs.versions.toml
  plugins/ApolloGraphQL/build.gradle.kts
  src/commonMain/kotlin/io/github/jan/supabase/PlatformTarget.kt
  src/commonMain/kotlin/io/github/jan/supabase/collections/AtomicMutableList.kt
  src/commonMain/kotlin/io/github/jan/supabase/collections/AtomicMutableMap.kt
  src/linuxMain/kotlin/io/github/jan/supabase/PlatformTarget.kt
  src/linuxTest/kotlin/PlatformTargetTest.kt
Labels: enhancement, core

#205 Add support for custom serialization
  Functions/src/commonMain/kotlin/io/github/jan/supabase/functions/EdgeFunction.kt
  Functions/src/commonMain/kotlin/io/github/jan/supabase/functions/Functions.kt
  GoTrue/src/androidMain/kotlin/io/github/jan/supabase/gotrue/GoTrueConfig.kt
  GoTrue/src/appleMain/kotlin/io/github/jan/supabase/gotrue/GoTrueConfig.kt
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/GoTrue.kt
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/GoTrueConfig.kt
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/user/UserUpdateBuilder.kt
  GoTrue/src/jsMain/kotlin/io/github/jan/supabase/gotrue/GoTrueConfig.kt
  GoTrue/src/jvmMain/kotlin/io/github/jan/supabase/gotrue/GoTrueConfig.kt
  GoTrue/src/linuxMain/kotlin/io/github/jan/supabase/gotrue/GoTrueConfig.kt
  GoTrue/src/mingwX64Main/kotlin/io/github/jan/supabase/gotrue/GoTrueConfig.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/Postgrest.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/query/PostgrestBuilder.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/query/PostgrestResult.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/request/PostgrestRequest.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/CallbackManager.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/PostgresAction.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/PostgresActionData.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/PresenceAction.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/Realtime.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/RealtimeChannel.kt
  src/commonMain/kotlin/io/github/jan/supabase/SupabaseSerializer.kt
  src/commonMain/kotlin/io/github/jan/supabase/plugins/CustomSerializationConfig.kt
  src/commonMain/kotlin/io/github/jan/supabase/plugins/SerializableData.kt
Labels: enhancement, core
