Repository supabase-community/supabase-kt, pull requests merged in 2023-09, with the labels that each got.

#275 Avoid code duplication in handling exception and remove unused code
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/GoTrueImpl.kt
  GoTrue/src/commonTest/kotlin/GoTrueTest.kt
Labels: enhancement, gotrue

#284 Update .gitignore to avoid generated code
  .gitignore
Labels: enhancement

#288 Add missing ban duration property in AdminUserUpdateBuilder
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/admin/AdminUserUpdateBuilder.kt
Labels: enhancement

#277 Separate PostgrestRequest, move Rpc Execution to the same place with other requests and cover unit test
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/Postgrest.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/PostgrestExt.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/PostgrestImpl.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/executor/PostgrestHttpExtension.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/executor/RequestExecutor.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/executor/RestRequestExecutor.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/query/PostgrestBuilder.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/request/DeleteRequest.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/request/InsertRequest.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/request/PostgrestRequest.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/request/RpcRequest.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/request/SelectRequest.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/request/UpdateRequest.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/result/PostgrestResult.kt
  Postgrest/src/commonTest/kotlin/io.github.jan.supabase.postgrest/request/DeleteRequestTest.kt
  Postgrest/src/commonTest/kotlin/io.github.jan.supabase.postgrest/request/InsertRequestTest.kt
  Postgrest/src/commonTest/kotlin/io.github.jan.supabase.postgrest/request/RpcRequestTest.kt
  Postgrest/src/commonTest/kotlin/io.github.jan.supabase.postgrest/request/SelectRequestTest.kt
  Postgrest/src/commonTest/kotlin/io.github.jan.supabase.postgrest/request/UpdateRequestTest.kt
Labels: enhancement, postgrest
