Repository supabase-community/supabase-kt, pull requests merged in 2024-04, with the labels that each got.

#538 Add support for using GET when calling database functions
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/PostgrestRpc.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/query/PostgrestQueryBuilder.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/request/RpcRequest.kt
  Postgrest/src/commonTest/kotlin/io.github.jan.supabase.postgrest/request/RpcRequestTest.kt
Labels: enhancement, postgrest

#546 Update Kotlin to 2.0.0
  Functions/build.gradle.kts
  GoTrue/build.gradle.kts
  Postgrest/build.gradle.kts
  Realtime/build.gradle.kts
  Storage/build.gradle.kts
  build.gradle.kts
  demos/chat-demo-mpp/common/build.gradle.kts
  demos/chat-demo-mpp/desktop/build.gradle.kts
  demos/file-upload/desktop/build.gradle.kts
  demos/multi-factor-authentication/desktop/build.gradle.kts
  demos/multiplatform-deeplinks/desktop/build.gradle.kts
  gradle.properties
  gradle/libs.versions.toml
  kotlin-js-store/yarn.lock
  plugins/ApolloGraphQL/build.gradle.kts
  plugins/CoilIntegration/build.gradle.kts
  plugins/ComposeAuth/build.gradle.kts
  plugins/ComposeAuthUI/build.gradle.kts
  plugins/ImageLoaderIntegration/build.gradle.kts
  serializers/Jackson/build.gradle.kts
  serializers/Moshi/build.gradle.kts
Labels: enhancement, core

#551 Add referenced table parameter to `or` and `and`
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/query/filter/PostgrestFilterBuilder.kt
  Postgrest/src/commonTest/kotlin/PostgrestFilterBuilderTest.kt
Labels: enhancement, postgrest

#555 Simplify code challenge generation and rename auth tests
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/AuthImpl.kt
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/JsonUtils.kt
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/PKCE.kt
  GoTrue/src/commonTest/kotlin/AuthApiMock.kt
  GoTrue/src/commonTest/kotlin/AuthTest.kt
Labels: enhancement, gotrue

#562 Add missing destinationBucket to move & copy methods in BucketApi
  Storage/src/commonMain/kotlin/io/github/jan/supabase/storage/BucketApi.kt
  Storage/src/commonMain/kotlin/io/github/jan/supabase/storage/BucketApiImpl.kt
Labels: enhancement, storage

#563 Remove suspend modifier on `postgrestListDataFlow` and clean the join payload on flow cancellation
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/RealtimeChannel.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/RealtimeChannelImpl.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/RealtimeExt.kt
Labels: enhancement, realtime

#571 Add .kotlin to .gitignore
  .gitignore
Labels: enhancement
