Repository supabase-community/supabase-kt, pull requests merged in 2024-05, with the labels that each got.

#578 Rethrow and log CancellationExceptions on network calls
  src/commonMain/kotlin/io/github/jan/supabase/network/KtorSupabaseHttpClient.kt
Labels: enhancement, core

#580 Add region parameter to functions
  Functions/src/commonMain/kotlin/io/github/jan/supabase/functions/FunctionRegion.kt
  Functions/src/commonMain/kotlin/io/github/jan/supabase/functions/Functions.kt
Labels: enhancement, functions

#581 Update Kotlin to 2.0.0-RC2
  gradle/libs.versions.toml
  plugins/ComposeAuth/build.gradle.kts
  plugins/ComposeAuthUI/build.gradle.kts
Labels: dependencies

#579 Introduce new flow extension functions for postgrest
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/PostgrestExtensions.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/RealtimeImpl.kt
Labels: enhancement, realtime, postgrest

#568 Rework Auth tests
  GoTrue/build.gradle.kts
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/Auth.kt
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/AuthImpl.kt
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/CodeVerifierCache.kt
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/PKCE.kt
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/providers/ExternalAuthConfig.kt
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/providers/builtin/DefaultAuthProvider.kt
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/providers/builtin/OTP.kt
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/user/UserSession.kt
  GoTrue/src/commonTest/kotlin/AdminApiTest.kt
  GoTrue/src/commonTest/kotlin/AuthApiMock.kt
  GoTrue/src/commonTest/kotlin/AuthApiTest.kt
  GoTrue/src/commonTest/kotlin/AuthTest.kt
  GoTrue/src/commonTest/kotlin/AuthTestUtils.kt
  GoTrue/src/commonTest/kotlin/CodeVerifierCacheTest.kt
  GoTrue/src/commonTest/kotlin/MemorySessionManagerTest.kt
  GoTrue/src/commonTest/kotlin/MfaApiTest.kt
  test-common/src/commonMain/kotlin/io/github/jan/supabase/testing/KtorUtils.kt
Labels: enhancement, auth

#572 Add Custom key for SettingsSessionManager and based on supabaseUrl
  GoTrue/src/nonLinuxMain/kotlin/io/github/jan/supabase/gotrue/SettingsCodeVerifierCache.kt
  GoTrue/src/nonLinuxMain/kotlin/io/github/jan/supabase/gotrue/SettingsSessionManager.kt
  GoTrue/src/nonLinuxMain/kotlin/io/github/jan/supabase/gotrue/SettingsUtil.kt
Labels: enhancement, auth

#590 Include columns in upsert request & fix default parameter value
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/query/PostgrestQueryBuilder.kt
  gradle.properties
Labels: enhancement, postgrest

#595 Remove OtpType deprecation notice and clarify documentation
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/OtpType.kt
Labels: enhancement, fix, auth

#596 Handle `weak_password` and `session_not_found` auth error codes
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/Auth.kt
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/AuthImpl.kt
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/GoTrueErrorResponse.kt
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/exception/AuthRestException.kt
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/exception/AuthSessionMissingException.kt
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/exception/AuthWeakPasswordException.kt
  src/commonMain/kotlin/io/github/jan/supabase/exceptions/RestException.kt
Labels: enhancement, auth

#607 bug: fix presenceDataFlow extension for realtime updates
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/RealtimeExt.kt
Labels: realtime
