Repository supabase-community/supabase-kt, pull requests merged in 2024-12, with the labels that each got.

#796 Update Kotlin to 2.1.0
  Auth/build.gradle.kts
  Auth/src/commonMain/kotlin/io/github/jan/supabase/auth/PKCE.kt
  Functions/build.gradle.kts
  README.md
  demos/android-login/android/build.gradle.kts
  demos/android-login/common/build.gradle.kts
  demos/multiplatform-deeplinks/android/build.gradle.kts
  demos/multiplatform-deeplinks/common/build.gradle.kts
  gradle.properties
  gradle/libs.versions.toml
  plugins/ComposeAuth/build.gradle.kts
  plugins/ComposeAuth/src/commonMain/kotlin/io/github/jan/supabase/compose/auth/Utils.common.kt
Labels: auth, dependencies, build file, documentation

#807 Add pull token approach to realtime
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/Realtime.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/RealtimeChannel.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/RealtimeChannelImpl.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/RealtimeImpl.kt
Labels: enhancement, realtime

#808 Prevent sending expired tokens to realtime
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/RealtimeChannelImpl.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/RealtimeImpl.kt
  Realtime/src/commonTest/kotlin/RealtimeTest.kt
Labels: enhancement, realtime, tests

#823 Update `supabaseModule.kt` references
  sample/chat-demo-mpp/README.md
  sample/file-upload/README.md
  sample/multi-factor-auth/README.md
Labels: documentation, samples

#824 Remove dev/eap repositories
  build.gradle.kts
Labels: build file
