Repository supabase-community/supabase-kt, pull requests merged in 2024-07, with the labels that each got.

#640 Update Contribution guide
  CONTRIBUTING.md
  README.md
  build.gradle.kts
  buildSrc/src/main/kotlin/Publishing.kt
Labels: enhancement, build file, documentation

#641 Add changelog file
  CHANGELOG.md
Labels: enhancement, documentation

#642 fix(realtime): add private to Realtime
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/RealtimeChannelBuilder.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/RealtimeChannelImpl.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/RealtimeJoinPayload.kt
Labels: realtime

#644 Update AtomicFU and sample libraries
  build.gradle.kts
  gradle/libs.versions.toml
Labels: dependencies, build file

#654 fix(auth): fix sign in with Apple in ComposeAuth
  plugins/ComposeAuth/src/appleMain/kotlin/io/github/jan/supabase/compose/auth/composable/AppleAuth.kt
  sample/chat-demo-mpp/ios/chatdemoios.xcodeproj/project.pbxproj
Labels: fix, auth

#653 Add sample workflow build
  .github/workflows/samples.yml
  build.gradle.kts
  buildSrc/src/main/kotlin/Android.kt
  sample/chat-demo-mpp/android/build.gradle.kts
  sample/chat-demo-mpp/common/build.gradle.kts
  sample/file-upload/android/build.gradle.kts
  sample/file-upload/buildSrc/build.gradle.kts
  sample/file-upload/buildSrc/src/main/kotlin/Versions.kt
Labels: enhancement, build file, samples

#657 Add support for verifying a token hash
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/Auth.kt
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/AuthImpl.kt
  GoTrue/src/commonTest/kotlin/AuthApiTest.kt
Labels: auth, tests

#664 Introduce RESTful service built with supabase-kt
  README.md
Labels: documentation

#665 Add functions-kt tests
  Functions/build.gradle.kts
  Functions/src/commonTest/kotlin/EdgeFunctionTest.kt
  Functions/src/commonTest/kotlin/FunctionsTest.kt
Labels: functions, build file, tests

#671 Fix deletion in `postgresListDataFlow` not working correctly
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/RealtimeExt.kt
Labels: fix, realtime

#672 Fix yarn build errors
  .github/workflows/test.yml
  .gitignore
  build.gradle.kts
  kotlin-js-store/yarn.lock
  sample/chat-demo-mpp/common/build.gradle.kts
Labels: build file, samples

#678 Remove realtime client side rate-limiting
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/Realtime.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/RealtimeImpl.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/RealtimeRateLimitException.kt
Labels: enhancement, realtime

#673 Add Realtime tests by abstracting realtime websockets
  Realtime/build.gradle.kts
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/CallbackManager.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/PresenceAction.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/Realtime.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/RealtimeChannelImpl.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/RealtimeImpl.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/RealtimeJoinPayload.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/data/BroadcastApiBody.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/websocket/KtorRealtimeWebsocket.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/websocket/KtorRealtimeWebsocketFactory.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/websocket/RealtimeWebsocket.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/websocket/RealtimeWebsocketFactory.kt
  Realtime/src/commonTest/kotlin/CallbackManagerTest.kt
  Realtime/src/commonTest/kotlin/RealtimeChannelTest.kt
  Realtime/src/commonTest/kotlin/RealtimeExtTest.kt
  Realtime/src/commonTest/kotlin/RealtimeMessageEventTypeTest.kt
  Realtime/src/commonTest/kotlin/RealtimeTest.kt
  Realtime/src/commonTest/kotlin/RealtimeTestUtils.kt
  Realtime/src/commonTest/kotlin/RealtimeWSMock.kt
  gradle/libs.versions.toml
  src/commonMain/kotlin/io/github/jan/supabase/network/KtorSupabaseHttpClient.kt
Labels: enhancement, realtime, core, build file, tests
