Repository supabase-community/supabase-kt, pull requests merged in 2024-02, with the labels that each got.

#451 Add missing OTP type
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/OtpType.kt
  gradle.properties
Labels: fix, gotrue

#459 Change lifecycle callbacks on Android and add previous status to SessionStatus.Authenticated
  GoTrue/src/androidMain/kotlin/io/github/jan/supabase/gotrue/setupPlatform.kt
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/AuthImpl.kt
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/SessionStatus.kt
  gradle.properties
Labels: enhancement, gotrue

#460 Rework Logging
  Functions/src/commonMain/kotlin/io/github/jan/supabase/functions/Functions.kt
  GoTrue/src/androidMain/kotlin/io/github/jan/supabase/gotrue/AuthConfig.kt
  GoTrue/src/androidMain/kotlin/io/github/jan/supabase/gotrue/setupPlatform.kt
  GoTrue/src/appleMain/kotlin/io/github/jan/supabase/gotrue/Apple.kt
  GoTrue/src/appleMain/kotlin/io/github/jan/supabase/gotrue/AuthConfig.kt
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/Auth.kt
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/AuthConfig.kt
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/AuthExtensions.kt
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/AuthImpl.kt
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/Utils.kt
  GoTrue/src/iosMain/kotlin/io/github/jan/supabase/gotrue/providers/openUrl.kt
  GoTrue/src/jsMain/kotlin/io/github/jan/supabase/gotrue/AuthConfig.kt
  GoTrue/src/jvmMain/kotlin/io/github/jan/supabase/gotrue/AuthConfig.kt
  GoTrue/src/jvmMain/kotlin/io/github/jan/supabase/gotrue/providers/HttpCallbackServer.kt
  GoTrue/src/linuxMain/kotlin/io/github/jan/supabase/gotrue/AuthConfig.kt
  GoTrue/src/linuxMain/kotlin/io/github/jan/supabase/gotrue/setupPlatform.kt
  GoTrue/src/macosMain/kotlin/io/github/jan/supabase/gotrue/providers/openUrl.kt
  GoTrue/src/mingwX64Main/kotlin/io/github/jan/supabase/gotrue/AuthConfig.kt
  GoTrue/src/mingwX64Main/kotlin/io/github/jan/supabase/gotrue/setupPlatform.kt
  GoTrue/src/nonLinuxMain/kotlin/io/github/jan/supabase/gotrue/SettingsSessionManager.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/Postgrest.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/Realtime.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/RealtimeChannel.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/RealtimeChannelImpl.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/RealtimeImpl.kt
  Storage/src/commonMain/kotlin/io/github/jan/supabase/storage/Storage.kt
  Storage/src/commonMain/kotlin/io/github/jan/supabase/storage/resumable/ResumableClient.kt
  Storage/src/commonMain/kotlin/io/github/jan/supabase/storage/resumable/ResumableUpload.kt
  plugins/ApolloGraphQL/src/commonMain/kotlin/io/github/jan/supabase/graphql/GraphQL.kt
  plugins/CoilIntegration/src/commonMain/kotlin/io/github/jan/supabase/coil/CoilIntegration.kt
  plugins/CoilIntegration/src/commonMain/kotlin/io/github/jan/supabase/coil/SupabaseStorageFetcher.kt
  plugins/ComposeAuth/src/commonMain/kotlin/io/github/jan/supabase/compose/auth/ComposeAuth.kt
  plugins/ImageLoaderIntegration/src/commonMain/kotlin/io/github/jan/supabase/imageloader/ImageLoaderIntegration.kt
  src/commonMain/kotlin/io/github/jan/supabase/SupabaseClient.kt
  src/commonMain/kotlin/io/github/jan/supabase/SupabaseClientBuilder.kt
  src/commonMain/kotlin/io/github/jan/supabase/logging/LogLevel.kt
  src/commonMain/kotlin/io/github/jan/supabase/logging/SupabaseLogger.kt
  src/commonMain/kotlin/io/github/jan/supabase/network/KtorSupabaseHttpClient.kt
  src/commonMain/kotlin/io/github/jan/supabase/plugins/MainPlugin.kt
  src/commonMain/kotlin/io/github/jan/supabase/plugins/PluginManager.kt
  src/commonMain/kotlin/io/github/jan/supabase/plugins/SupabasePlugin.kt
  src/commonTest/kotlin/SupabaseClientTest.kt
Labels: enhancement, core

#471 Add support for Realtime throttling
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/Realtime.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/RealtimeChannelImpl.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/RealtimeImpl.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/RealtimeRateLimitException.kt
Labels: enhancement, realtime

#477 Cache detekt
  .github/workflows/detekt.yml
Labels: enhancement

#476 Remove double quotes for query modifiers
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/query/PostgrestRequestBuilder.kt
  Postgrest/src/commonTest/kotlin/PostgrestRequestBuilderTest.kt
  gradle.properties
Labels: fix, postgrest

#483 Fix concurrent calls on Realtime.connect()
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/RealtimeImpl.kt
Labels: fix, realtime

#475 Add Source to session status & rework compose auth
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/Auth.kt
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/AuthImpl.kt
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/SessionStatus.kt
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/Utils.kt
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/mfa/MfaApi.kt
  GoTrue/src/commonTest/kotlin/GoTrueTest.kt
  GoTrue/src/jsMain/kotlin/io/github/jan/supabase/gotrue/setupPlatform.kt
  gradle/libs.versions.toml
  plugins/ComposeAuth/README.md
  plugins/ComposeAuth/build.gradle.kts
  plugins/ComposeAuth/src/androidMain/AndroidManifest.xml
  plugins/ComposeAuth/src/androidMain/kotlin/io/github/jan/supabase/compose/auth/SupabaseInitializer.kt
  plugins/ComposeAuth/src/androidMain/kotlin/io/github/jan/supabase/compose/auth/Utils.kt
  plugins/ComposeAuth/src/androidMain/kotlin/io/github/jan/supabase/compose/auth/composable/GoogleAuth.kt
  plugins/ComposeAuth/src/appleMain/kotlin/io/github/jan/supabase/compose/auth/composable/AppleAuth.kt
  plugins/ComposeAuth/src/appleMain/kotlin/io/github/jan/supabase/compose/auth/composable/GoogleAuth.kt
  plugins/ComposeAuth/src/commonMain/kotlin/io/github/jan/supabase/compose/auth/AppleLoginConfig.kt
  plugins/ComposeAuth/src/commonMain/kotlin/io/github/jan/supabase/compose/auth/ComposeAuth.kt
  plugins/ComposeAuth/src/commonMain/kotlin/io/github/jan/supabase/compose/auth/DefaultBehavior.kt
  plugins/ComposeAuth/src/commonMain/kotlin/io/github/jan/supabase/compose/auth/GoogleLoginConfig.kt
  plugins/ComposeAuth/src/commonMain/kotlin/io/github/jan/supabase/compose/auth/LoginConfig.kt
  plugins/ComposeAuth/src/commonMain/kotlin/io/github/jan/supabase/compose/auth/Utils.common.kt
  plugins/ComposeAuth/src/commonMain/kotlin/io/github/jan/supabase/compose/auth/composable/NativeGoogleAuth.kt
  plugins/ComposeAuth/src/commonMain/kotlin/io/github/jan/supabase/compose/auth/composable/NativeSignInResult.kt
  plugins/ComposeAuth/src/commonMain/kotlin/io/github/jan/supabase/compose/auth/composable/NativeSignInState.kt
  plugins/ComposeAuth/src/jsMain/kotlin/io/github/jan/supabase/compose/auth/composable/AppleAuth.kt
  plugins/ComposeAuth/src/jsMain/kotlin/io/github/jan/supabase/compose/auth/composable/GoogleAuth.kt
  plugins/ComposeAuth/src/noDefaultMain/kotlin/io/github/jan/supabase/compose/auth/composable/AppleAuth.kt
  plugins/ComposeAuth/src/noDefaultMain/kotlin/io/github/jan/supabase/compose/auth/composable/GoogleAuth.kt
  src/commonMain/kotlin/io/github/jan/supabase/SupabaseClient.kt
  src/commonMain/kotlin/io/github/jan/supabase/plugins/MainPlugin.kt
  src/commonMain/kotlin/io/github/jan/supabase/plugins/SupabasePlugin.kt
Labels: enhancement, gotrue
