Repository supabase-community/supabase-kt, pull requests merged in 2024-06, with the labels that each got.

#611 Add columns header to `PostgrestQueryBuilder#insert`
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/query/PostgrestQueryBuilder.kt
Labels: fix, postgrest

#612 Add `isError` parameter to Compose Auth Ui fields
  plugins/ComposeAuthUI/src/commonMain/kotlin/io/github/jan/supabase/compose/auth/ui/email/EmailField.kt
  plugins/ComposeAuthUI/src/commonMain/kotlin/io/github/jan/supabase/compose/auth/ui/password/PasswordField.kt
  plugins/ComposeAuthUI/src/commonMain/kotlin/io/github/jan/supabase/compose/auth/ui/phone/PhoneField.kt
Labels: enhancement, plugins

#614 Add the possibility to have a multi-column PK in realtime
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/PostgrestExtensions.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/RealtimeExt.kt
Labels: realtime

#615 Add SettingsSessionManager & SettingsCodeVerifierCache tests
  GoTrue/src/settingsTest/kotlin/SettingsCodeVerifierCacheTest.kt
  GoTrue/src/settingsTest/kotlin/SettingsSessionManagerTest.kt
  GoTrue/src/settingsTest/kotlin/SettingsTest.kt
Labels: enhancement, auth, tests

#623 Add Auth Admin Api tests
  GoTrue/src/commonTest/kotlin/AdminApiTest.kt
  GoTrue/src/commonTest/kotlin/AuthRestExceptionTest.kt
Labels: auth, tests

#624 Add more Auth & AuthRestExceptionTests
  GoTrue/src/commonTest/kotlin/AuthRestExceptionTest.kt
  GoTrue/src/commonTest/kotlin/AuthTest.kt
  test-common/src/commonMain/kotlin/io/github/jan/supabase/testing/KtorUtils.kt
Labels: auth, tests

#633 Ignore certain status codes when signing out a user
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/AuthImpl.kt
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/exception/AuthRestException.kt
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/exception/AuthSessionMissingException.kt
  GoTrue/src/commonMain/kotlin/io/github/jan/supabase/gotrue/exception/AuthWeakPasswordException.kt
  src/commonMain/kotlin/io/github/jan/supabase/exceptions/RestException.kt
Labels: fix, auth, core

#637 Clean up README & add link for Kotlin Edge Functions
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/question.yml
  README.md
  TROUBLESHOOTING.md
Labels: enhancement, documentation
