Repository supabase-community/supabase-kt, pull requests merged in 2024-01, with the labels that each got.

#416 Automatically disconnect from realtime websocket
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/Realtime.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/RealtimeImpl.kt
Labels: enhancement, realtime

#417 Fix small realtime documentation issue
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/RealtimeChannel.kt
Labels: fix, realtime

#430 Remove error for Realtime when a channel is already connected
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/RealtimeImpl.kt
Labels: realtime

#431 Add GoTrue lifecycle observers on main thread
  GoTrue/src/androidMain/kotlin/io/github/jan/supabase/gotrue/setupPlatform.kt
Labels: fix, gotrue

#433 Add missing catch block on the Compose Auth CM implementation
  plugins/ComposeAuth/src/androidMain/kotlin/io/github/jan/supabase/compose/auth/composable/GoogleAuth.kt
Labels: fix

#435 Fix nested logical operators
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/query/filter/PostgrestFilterBuilder.kt
  gradle.properties
Labels: fix

#443 Fix apple auth triggering automatically
  plugins/ComposeAuth/src/appleMain/kotlin/io/github/jan/supabase/compose/auth/composable/AppleAuth.kt
Labels: fix

#445 Fix regex error in Safari 16.x or lower
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/Utils.kt
Labels: fix, postgrest
