Repository supabase-community/supabase-kt, pull requests merged in 2025-06, with the labels that each got.

#912 Add new event system, add support for error code in OTP links
  Auth/src/androidMain/kotlin/io/github/jan/supabase/auth/Android.kt
  Auth/src/androidMain/kotlin/io/github/jan/supabase/auth/setupPlatform.kt
  Auth/src/appleMain/kotlin/io/github/jan/supabase/auth/Apple.kt
  Auth/src/commonMain/kotlin/io/github/jan/supabase/auth/Auth.kt
  Auth/src/commonMain/kotlin/io/github/jan/supabase/auth/AuthExtensions.kt
  Auth/src/commonMain/kotlin/io/github/jan/supabase/auth/AuthImpl.kt
  Auth/src/commonMain/kotlin/io/github/jan/supabase/auth/UrlUtils.kt
  Auth/src/commonMain/kotlin/io/github/jan/supabase/auth/event/AuthEvent.kt
  Auth/src/commonMain/kotlin/io/github/jan/supabase/auth/status/RefreshFailureCause.kt
  Auth/src/commonMain/kotlin/io/github/jan/supabase/auth/status/SessionStatus.kt
  Auth/src/commonTest/kotlin/AuthApiTest.kt
  Auth/src/commonTest/kotlin/AuthTest.kt
  Auth/src/commonTest/kotlin/UrlUtilsTest.kt
  Auth/src/desktopMain/kotlin/io/github/jan/supabase/auth/server/HttpCallbackHtml.kt
  Auth/src/desktopMain/kotlin/io/github/jan/supabase/auth/server/HttpCallbackRoutes.kt
  Auth/src/jsMain/kotlin/io/github/jan/supabase/auth/setupPlatform.kt
  Auth/src/wasmJsMain/kotlin/io/github/jan/supabase/auth/setupPlatform.kt
Labels: auth, tests

#956 Fix serialization exception occurring when `PostgrestRestException#details` is not a String
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/PostgrestErrorResponse.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/exception/PostgrestRestException.kt
Labels: postgrest

#964 Add an option to disable automatic url checking in WASM, JS
  Auth/build.gradle.kts
  Auth/src/jsMain/kotlin/io/github/jan/supabase/auth/AuthConfig.kt
  Auth/src/jsMain/kotlin/io/github/jan/supabase/auth/setupPlatform.kt
  Auth/src/wasmJsMain/kotlin/io/github/jan/supabase/auth/AuthConfig.kt
  Auth/src/wasmJsMain/kotlin/io/github/jan/supabase/auth/setupPlatform.kt
  Auth/src/webMain/kotlin/io/github/jan/supabase/auth/WebAuthConfig.kt
Labels: auth, build file

#976 Update version
  CHANGELOG.md
  Functions/build.gradle.kts
  Postgrest/build.gradle.kts
  README.md
  Realtime/build.gradle.kts
  Storage/build.gradle.kts
  Supabase/build.gradle.kts
  gradle.properties
  serializers/Jackson/build.gradle.kts
  serializers/Moshi/build.gradle.kts
  test-common/build.gradle.kts
Labels: serializers, build file, documentation

#978 Fixed typo in upgraded ktor version
  CHANGELOG.md
Labels: documentation
