Repository supabase-community/supabase-kt, pull requests merged in 2025-10, with the labels that each got.

#1062 Possible fix for the [Bug]: AutoRefresh running even if the app is in the BG #1060
  Auth/src/commonMain/kotlin/io/github/jan/supabase/auth/AuthImpl.kt
  Auth/src/commonTest/kotlin/AuthTest.kt
Labels: auth, tests

#1067 Introduce new sample - Supa Sketcher - A realtime-white board application
  README.md
Labels: documentation

#1066 quote and/or escape special characters in all postrest filters
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/query/filter/FilterOperation.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/query/filter/PostgrestFilterBuilder.kt
  Postgrest/src/commonTest/kotlin/PostgrestFilterBuilderTest.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/PostgresChangeFilter.kt
Labels: realtime, postgrest, tests
