Repository supabase-community/supabase-kt, pull requests merged in 2025-07, with the labels that each got.

#993 Improve docs to put more context of the parameter when a function is renamed
  Functions/src/commonMain/kotlin/io/github/jan/supabase/functions/Functions.kt
Labels: functions

#995 Migrate to datetime 0.7.0 and update Ktor
  Auth/src/commonMain/kotlin/io/github/jan/supabase/auth/AuthImpl.kt
  Auth/src/commonMain/kotlin/io/github/jan/supabase/auth/mfa/MfaChallenge.kt
  Auth/src/commonMain/kotlin/io/github/jan/supabase/auth/user/UserInfo.kt
  Auth/src/commonMain/kotlin/io/github/jan/supabase/auth/user/UserSession.kt
  Auth/src/commonTest/kotlin/AdminApiTest.kt
  Auth/src/commonTest/kotlin/MfaApiTest.kt
  Postgrest/src/commonTest/kotlin/PostgrestFilterBuilderTest.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/PostgresAction.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/RealtimeImpl.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/data/PostgresActionData.kt
  Realtime/src/commonTest/kotlin/CallbackManagerTest.kt
  Realtime/src/commonTest/kotlin/RealtimeChannelTest.kt
  Realtime/src/commonTest/kotlin/RealtimeExtTest.kt
  Realtime/src/commonTest/kotlin/RealtimeTest.kt
  Realtime/src/commonTest/kotlin/RealtimeTestUtils.kt
  Storage/src/commonMain/kotlin/io/github/jan/supabase/storage/Bucket.kt
  Storage/src/commonMain/kotlin/io/github/jan/supabase/storage/FileObject.kt
  Storage/src/commonMain/kotlin/io/github/jan/supabase/storage/resumable/ResumableCache.kt
  Storage/src/commonMain/kotlin/io/github/jan/supabase/storage/resumable/ResumableClient.kt
  Storage/src/commonMain/kotlin/io/github/jan/supabase/storage/resumable/ResumableUpload.kt
  Storage/src/commonTest/kotlin/BucketApiTest.kt
  Storage/src/commonTest/kotlin/StorageTest.kt
  Supabase/build.gradle.kts
  buildSrc/src/main/kotlin/KotlinPlugin.kt
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.properties
  sample/chat-demo-mpp/common/src/commonMain/kotlin/io/github/jan/supabase/common/net/MessageApi.kt
Labels: realtime, postgrest, auth, storage, build file, samples, tests

#1006 improve postgrest error messages
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/exception/PostgrestRestException.kt
  Supabase/src/commonMain/kotlin/io/github/jan/supabase/exceptions/RestException.kt
Labels: postgrest

#1005 Fix IMPLICIT OAuth flow on Desktop targets
  Auth/src/desktopMain/kotlin/io/github/jan/supabase/auth/server/HttpCallbackRoutes.kt
  Auth/src/desktopMain/kotlin/io/github/jan/supabase/auth/server/HttpCallbackServer.kt
Labels: auth
