Repository supabase-community/supabase-kt, pull requests merged in 2025-03, with the labels that each got.

#866 Adds AuthorizationDelegate & remember to fix Native Apple Login
  plugins/ComposeAuth/src/appleMain/kotlin/io/github/jan/supabase/compose/auth/composable/AppleAuth.kt
Labels: fix

#875 Fix JS/Wasm hash check
  Auth/src/commonMain/kotlin/io/github/jan/supabase/auth/AuthImpl.kt
  Auth/src/jsMain/kotlin/io/github/jan/supabase/auth/setupPlatform.kt
  Auth/src/wasmJsMain/kotlin/io/github/jan/supabase/auth/setupPlatform.kt
Labels: auth

#877 v3.1.3
  CHANGELOG.md
  gradle.properties
Labels: build file, documentation

#881 Fix KotlinXSerializer not using custom serializers
  Supabase/src/commonMain/kotlin/io/github/jan/supabase/serializer/KotlinXSerializer.kt
Labels: fix

#883 Remove sealed modifier where its not needed
  Auth/src/commonMain/kotlin/io/github/jan/supabase/auth/Auth.kt
  Auth/src/commonMain/kotlin/io/github/jan/supabase/auth/admin/AdminApi.kt
  Auth/src/commonMain/kotlin/io/github/jan/supabase/auth/mfa/MfaApi.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/Postgrest.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/Realtime.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/RealtimeChannel.kt
  Storage/src/commonMain/kotlin/io/github/jan/supabase/storage/BucketApi.kt
  Storage/src/commonMain/kotlin/io/github/jan/supabase/storage/Storage.kt
  Storage/src/commonMain/kotlin/io/github/jan/supabase/storage/resumable/ResumableClient.kt
  Supabase/src/commonMain/kotlin/io/github/jan/supabase/SupabaseClient.kt
  plugins/ApolloGraphQL/src/commonMain/kotlin/io/github/jan/supabase/graphql/GraphQL.kt
  plugins/ComposeAuth/src/commonMain/kotlin/io/github/jan/supabase/compose/auth/ComposeAuth.kt
Labels: fix, realtime, postgrest, auth, storage
