Repository supabase-community/supabase-kt, pull requests merged in 2025-04, with the labels that each got.

#885 Update changelog and version
  CHANGELOG.md
  gradle.properties
Labels: build file, documentation

#895 Don't swallow `CancellationException`
  Auth/src/commonMain/kotlin/io/github/jan/supabase/auth/Auth.kt
  Auth/src/commonMain/kotlin/io/github/jan/supabase/auth/AuthImpl.kt
  Auth/src/settingsMain/kotlin/io/github/jan/supabase/auth/SettingsSessionManager.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/RealtimeChannelImpl.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/RealtimeImpl.kt
  Storage/src/commonMain/kotlin/io/github/jan/supabase/storage/resumable/ResumableUpload.kt
  Supabase/src/commonMain/kotlin/io/github/jan/supabase/Utils.kt
  plugins/ComposeAuth/src/androidMain/kotlin/io/github/jan/supabase/compose/auth/composable/GoogleAuth.kt
  plugins/ComposeAuth/src/appleMain/kotlin/io/github/jan/supabase/compose/auth/composable/AppleAuth.kt
Labels: realtime, auth, storage

#893 Fix OAuth server listener resuming coroutine twice
  Auth/src/desktopMain/kotlin/io/github/jan/supabase/auth/server/HttpCallbackServer.kt
Labels: fix, auth

#909 Add missing error codes
  Auth/src/commonMain/kotlin/io/github/jan/supabase/auth/exception/AuthErrorCode.kt
Labels: auth

#911 Fix exception on non-session hash parameters and only consume used parameters
  Auth/src/commonMain/kotlin/io/github/jan/supabase/auth/Auth.kt
  Auth/src/commonMain/kotlin/io/github/jan/supabase/auth/UrlUtils.kt
  Auth/src/commonMain/kotlin/io/github/jan/supabase/auth/Utils.kt
  Auth/src/commonTest/kotlin/UrlUtilsTest.kt
  Auth/src/jsMain/kotlin/io/github/jan/supabase/auth/setupPlatform.kt
  Auth/src/wasmJsMain/kotlin/io/github/jan/supabase/auth/setupPlatform.kt
  settings.gradle.kts
Labels: fix, auth, build file, tests

#913 Fix session expiration check
  Auth/src/commonMain/kotlin/io/github/jan/supabase/auth/AuthImpl.kt
Labels: auth

#915 Fix simple warnings
  Auth/src/commonMain/kotlin/io/github/jan/supabase/auth/AuthConfig.kt
  Storage/src/commonMain/kotlin/io/github/jan/supabase/storage/Storage.kt
  Storage/src/commonMain/kotlin/io/github/jan/supabase/storage/resumable/ResumableClient.kt
  sample/chat-demo-mpp/desktop/build.gradle.kts
  sample/file-upload/desktop/build.gradle.kts
  sample/multi-factor-auth/desktop/build.gradle.kts
Labels: auth, storage, build file, samples

#905 Use Dispatchers.IO by default on multi-threaded platforms
  Auth/src/commonMain/kotlin/io/github/jan/supabase/auth/AuthConfig.kt
  Auth/src/commonMain/kotlin/io/github/jan/supabase/auth/AuthImpl.kt
  Realtime/src/commonMain/kotlin/io/github/jan/supabase/realtime/RealtimeImpl.kt
  Storage/src/commonMain/kotlin/io/github/jan/supabase/storage/resumable/ResumableClient.kt
  Storage/src/commonMain/kotlin/io/github/jan/supabase/storage/resumable/ResumableUpload.kt
  Supabase/src/androidMain/kotlin/io/github/jan/supabase/DefaultDispatcher.kt
  Supabase/src/commonMain/kotlin/io/github/jan/supabase/DefaultDispatcher.kt
  Supabase/src/commonMain/kotlin/io/github/jan/supabase/SupabaseClient.kt
  Supabase/src/commonMain/kotlin/io/github/jan/supabase/SupabaseClientBuilder.kt
  Supabase/src/commonMain/kotlin/io/github/jan/supabase/SupabaseClientConfig.kt
  Supabase/src/iosMain/kotlin/io/github/jan/supabase/DefaultDispatcher.kt
  Supabase/src/jsMain/kotlin/io/github/jan/supabase/DefaultDispatcher.kt
  Supabase/src/jvmMain/kotlin/io/github/jan/supabase/DefaultDispatcher.kt
  Supabase/src/linuxMain/kotlin/io/github/jan/supabase/DefaultDispatcher.kt
  Supabase/src/macosMain/kotlin/io/github/jan/supabase/DefaultDispatcher.kt
  Supabase/src/mingwX64Main/kotlin/io/github/jan/supabase/DefaultDispatcher.kt
  Supabase/src/tvosMain/kotlin/io/github/jan/supabase/DefaultDispatcher.kt
  Supabase/src/wasmJsMain/kotlin/io/github/jan/supabase/DefaultDispatcher.kt
  Supabase/src/watchosMain/kotlin/io/github/jan/supabase/DefaultDispatcher.kt
Labels: realtime, auth, storage
